:ruby
  js_data = {
    :jspath => javascript_path('ckeditor/init'),
    :base_location => '/ckeditor',
    :options => {
      :customConfig => javascript_path('ckeditor/config')
    }
  }

= render 'form', form: form, field: field, field_type: :text_area, html_attributes: field.html_attributes.reverse_merge(:data => { :richtext => 'ckeditor', :options => js_data.to_json })

